<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Places</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHD5Azdp9yEur5KnVYJAUNf8ZAw6m40F4&callback=initialize&libraries=places"
      defer
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>

    var map;
    // initizalize maps location
    function initialize() {
      var riyadh = new google.maps.LatLng(24.774265, 46.738586);

      map = new google.maps.Map(document.getElementById('map'), {
          center: riyadh,
          zoom: 18
        });
    
        const geocoder = new google.maps.Geocoder();
        const infowindow = new google.maps.InfoWindow();

        $(document).ready(function () 
        {
          $.ajax(
            {
              url: "/listFavorites",
              type: "GET",
              success: function(response) {
                geocodeLatLng(geocoder, map, infowindow, response);
              },
              error: function(error) {
                console.log(error)
              }
            });
          });
    }
    
    function geocodeLatLng(geocoder, map, infowindow, response) {
      
        for (var i = 0; i < response.length; i++)
        {
          let latlng = {
            lat: parseFloat(response[i].lat),
            lng: parseFloat(response[i].lng),
          };
          let address = response[i].address
          let name = response[i].name
          let type = response[i].type
          geocoder.geocode({ location: latlng }, (results, status) => {
            if (status === "OK") {
              if (results[0]) {
                map.setZoom(11);
                const marker = new google.maps.Marker({
                  position: latlng,
                  map: map,
                });
                var infowindow = new google.maps.InfoWindow({
                  content:  "<div><strong>" +
                            name +
                            "</strong><br>" +
                            "Place Address: " +
                            address +
                            "<br>" 
                });
                google.maps.event.addListener(marker, 'click', (function () {
                  infowindow.open(map, marker);
                }));
              } else {
                window.alert("No results found");
              }
            } else {
              window.alert("Geocoder failed due to: " + status);
            }
          });
        }
    }
    </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>